<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" th:src="@{/js/jquery-1.8.2.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validationEngine.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validationEngine-ja.js}"></script>
		<script type="text/javascript" th:src="@{/js/Form.js}"></script>
		<link th:href="@{/css/create.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/validationEngine.jquery.css}" rel="stylesheet" type="text/css">
		<title>新規登録</title>
	</head>
	<body>
		<p>新規登録画面</p>

		<form action="/users" th:action="@{/users}" th:object="${form}" id="form" method="POST">
		<p class="error" th:text="${messages}" />

			<label for="loginId">ログインID</label>
			<input type="text" id="loginId" th:field="*{loginId}" class="validate[required,custom[onlyLetterNumber],minSize[6],maxSize[20]]" />
			<br>

			<label for="name">名前</label>
			<input type="text" id="name" th:field="*{name}" class="validate[required,custom[name],maxSize[10]]" />
			<br>

			<label for="rawPassword">パスワード</label>
			<input type="password" id="rawPassword" th:field="*{rawPassword}" class="validate[required,custom[password],minSize[6],maxSize[20]]" />
			<br>

			<label for="secondpassword">確認用パスワード</label>
			<input type="password" id="secondPassword" th:field="*{secondPassword}" class="validate[required,equals[rawPassword]]" />
			<br>

			<label for="branch">支店</label>
			<select name="branch_id" id = "branch_id">
				<option th:each="br: ${branches}" th:value="${br.id}"
					th:selected="${br.id == form.branch_id}" th:text="${br.branch_name}"></option>
			</select>
			<br>

			<label for="department_position">部署・役職</label>
			<select name="department_position" id = "department_position">
				<option th:each="depo: ${departmentsPositions}" th:value="${depo.id}"
				th:selected="${depo.id == form.department_position}" th:text="${depo.department_position_name}"></option>
			</select>
			<br>

			<input type="submit" value="登録" name = "submit"><br>
			<a href="/users">戻る</a>
		</form>
	</body>
</html>