<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
		<script type="text/javascript" th:src="@{/js/Delete_restore.js}"></script>
		<title>ユーザ管理システム</title>
	</head>
	<body>
		<p>ユーザ管理システム</p>
		<a th:href="@{/users/create}">新規登録</a>

		<table>
			<tr>
				<th>id</th>
				<th>ログインID</th>
				<th>名前</th>
				<th>支店</th>
				<th>部署・役職</th>
				<th>編集</th>
				<th>削除・復元</th>
			</tr>

			<tr th:each="user: ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.loginId}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.branch_name}"></td>
				<td th:text="${user.department_position_name}"></td>
				<td>
					<form action="users/settings" method="get">
						<input type="submit" value="編集">
    					<input type="hidden" name="id" th:value="${user.id}">
      	    		</form>
      	    	</td>
      	    	<td th:if="${user.is_delete eq false}">
            		<form action="/users" method="POST" onsubmit="return del()">
						<input type="submit" formaction="users/delete" value="削除">
    	        		<input type="hidden" name="id" th:value="${user.id}">
            		</form>
            	</th:if></td>
            	<td th:if="${user.is_delete eq true}">
                	<form action="/users" method="POST" onsubmit="return restore()">
						<input type="submit" formaction="users/restore" value="復元">
    	        		<input type="hidden" name="id" th:value="${user.id}">
    	        	</form>
            	</th:if></td>
			</tr>
		</table>
	</body>
</html>