<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" th:src="@{/js/jquery-1.8.2.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validationEngine.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validationEngine-ja.js}"></script>
		<script type="text/javascript" th:src="@{/js/Form.js}"></script>
		<link th:href="@{/css/settings.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/validationEngine.jquery.css}" rel="stylesheet" type="text/css">
		<title>登録情報更新</title>
	</head>
	<body>
		<p>登録情報更新画面</p>
		<form action="/users" th:action="@{/users/updated}" th:object="${form}" id="form" method="POST">
		<p class="error" th:text="${messages}" />

			<label for="loginId">ログインID</label>
			<input type="text" name="loginId" th:field="*{loginId}" class="validate[custom[onlyLetterNumber],minSize[6],maxSize[20]]"/>
			<br>

			<label for="name">お名前</label>
			<input type="text" name="name" th:field="*{name}" class="validate[custom[name],maxSize[10]]" />
			<br>

			<label for="rawPassword">新パスワード</label>
			<input type="password" name="rawPassword" th:field="*{rawPassword}" class="validate[custom[password],minSize[6],maxSize[20]]" />
			<br>

			<label for="name">確認用パスワード</label>
			<input type="password" name="secondPassword" th:field="*{secondPassword}"class="validate[equals[rawPassword]]" />
			<br>

			<label for="branch">支店</label>
			<select name="branch_id" id = "branch_id">
				<option th:each="br: ${branches}" th:value="${br.id}"
					th:selected="${br.id == form.branch_id}" th:text="${br.branch_name}"></option>
			</select><br>

			<label for="department_position">部署・役職</label>
			<select name="department_position" id = "department_position">
				<option th:each="depo: ${departmentsPositions}" th:value="${depo.id}"
					th:selected="${depo.id == form.department_position}" th:text="${depo.department_position_name}"></option>
			</select><br>

			<input type="submit" value="更新">
			<input type="hidden" name="id" th:value="*{id}"><br>
			<a href="/users">戻る</a>
		</form>
	</body>
</html>