@charset "UTF-8";


body {
	margin: 1;
	width: auto;
}

input.valid, select.valid {
    border: 2px solid green;
}

input.invalid, select.invalid {
    border: 2px solid red;
}

p.error {
	font-weight: bolder;
	 color:red;
}

span.valid{
		 color:red;
}