@charset "UTF-8";

body {
	margin: 1;
	width: auto;
}

table{
	border: 1px solid #595959;
	border-collapse: collapse;
    padding: 5px;
    font-family: '游ゴシック Medium';
}

th, td {
	width: auto;
  	border: 1px solid #595959;
  	padding: 5px;
  	text-align: center;

}